"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-beautify": {}
  "atom-material-ui":
    fonts: {}
  build: {}
  core:
    audioBeep: false
    disabledPackages: [
      "vim-mode-plus"
    ]
    projectHome: "/Users/hirako.yuki/git"
    themes: [
      "nucleus-dark-ui"
      "an-old-hope-syntax"
    ]
  docblockr: {}
  editor:
    fontSize: 11
    invisibles: {}
    preferredLineLength: 100
    softWrap: true
  "exception-reporting":
    userId: "d0b146e6-943e-ba25-42ae-6dfaafc43c79"
  "file-types":
    tx: "text.html.basic"
  linter: {}
  "markdown-preview": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "one-dark-ui": {}
  "project-manager":
    sortBy: "title"
  term3: {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    preferredLineLength: 100
    tabLength: 4
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
".js.regexp.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".json.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".perl.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".perl6.source":
  editor:
    preferredLineLength: 100
"linter-perl":
  autoDetectCarton: true
  executeCommandViaShell: false
  incPathsFromProjectPath: [
    "."
    "lib"
    "../perlbrew/lib"
  ]
  lintOptions: "all"
