"fujiyama-development":
  title: "fujiyama-development"
  paths: [
    "/Users/yuki.hirako/gitrepos/Fujiyama/fujiyama-development"
  ]
imadegawa:
  title: "imadegawa"
  paths: [
    "/Users/yuki.hirako/gitrepos/Fujiyama/fujiyama-development/imadegawa/app"
  ]
"Gion/app":
  title: "Gion/app"
  paths: [
    "/Users/yuki.hirako/gitrepos/Fujiyama/fujiyama-development/gion/app"
  ]
Takanogawa:
  title: "Takanogawa"
  paths: [
    "/Users/yuki.hirako/gitrepos/Fujiyama/Takanogawa"
  ]
"pfsys-swet-test-avatar":
  title: "pfsys-swet-test-avatar"
  paths: [
    "/Users/yuki.hirako/work/pfsys-swet-test-avatar"
  ]
Badai:
  title: "Badai"
  paths: [
    "/Users/yuki.hirako/gitrepos/Fujiyama/Badai"
  ]
"geb-example-gradle":
  title: "geb-example-gradle"
  paths: [
    "/Users/yuki.hirako/work/geb-example-gradle"
  ]
katsuragawa:
  title: "Katsuragawa"
  paths: [
    "/Users/yuki.hirako/gitrepos/Fujiyama/Katsuragawa"
  ]
ponponyama:
  title: "Ponponyama"
  paths: [
    "/Users/yuki.hirako/gitrepos/Fujiyama/Ponponyama"
  ]
kiyamachi:
  title: "Kiyamachi"
  paths: [
    "/Users/yuki.hirako/gitrepos/Fujiyama/fujiyama-development/kiyamachi/app"
  ]
